<!DOCTYPE html>
<html>
<body>

    <h2>Movie Details:</h2>
    <br>
    <u>
        <li><strong>Title:</strong> {{ movie.title }}</li>
        <li><strong>Description:</strong> {{ movie.description }}</li>
        <li><strong>Director:</strong> {{ movie.director }}</li>
        <li><strong>Release Year:</strong> {{ movie.release_year }}</li>
        <li><strong>Budget:</strong> {{ movie.budget }}</li>
        <li><strong>Runtime:</strong> {{ movie.runtime }}</li>
        <li><strong>Rating:</strong> {{ movie.rating }}</li>
       
        <br>
        <img src="{{movie.image.url}}"height = 500>


    </u>
    <br>
    <br>
    <a href="/movie/edit/{{ movie.id }}/">Update Movie</a>

</body>
</html>
