<!DOCTYPE html>
<html>
<body>

    Movie Details:<br>
    <u>
        <li><strong>Title:</strong> {{ movie.title }}</li>
        <li><strong>Description:</strong> {{ movie.description }}</li>
        <li><strong>Director:</strong> {{ movie.director }}</li>
        <li><strong>Release Year:</strong> {{ movie.release_year }}</li>
        <li><strong>Budget:</strong> {{ movie.budget }}</li>
        <li><strong>Runtime:</strong> {{ movie.runtime }}</li>
        <li><strong>Rating:</strong> {{ movie.rating }}</li>
        <li><strong>Image:</strong> {{ movie.image }}</li>


    </u>

</body>
</html>
